{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj pacjenta</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_pacjenta') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        PESEL PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=number name=pesel_pacjenta>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        IMIĘ PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=text name=imie>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NAZWISKO PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwisko>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        TELEFON PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=number name=telefon>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA URODZENIA PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_urodzenia value='2017-01-01'>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        MIEJSCE URODZENIA PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=text name=miejsce_urodzenia>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        CZY UBEZPIECZONY (EMERYT, RENCISTA)
      </div>
      <div class="col-sm-6">
        <input type=checkbox name=ubezpieczenie_emeryt_rencista>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        CZY UBEZPIECZONY (ZATRUDNIONY)
      </div>
      <div class="col-sm-6">
        <input type=checkbox name=ubezpieczenie_zatrudniony>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        UBEZPIECZENIE INFORMACJA
      </div>
      <div class="col-sm-6">
        <input type=text name=ubezpieczenie_informacja>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        KOD POCZTOWY
      </div>
      <div class="col-sm-6">
        <input type=text name=kod_pocztowy>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        MIEJSCOWOŚĆ ZAMIESZKANIA
      </div>
      <div class="col-sm-6">
        <input type=text name=miejscowosc_zamieszkania>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        ULICA
      </div>
      <div class="col-sm-6">
        <input type=text name=ulica>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NUMER BUDYNKU
      </div>
      <div class="col-sm-6">
        <input type=text name=numer_budynku>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        TELEFON DO OSOBY UPOWAŻNIONEJ
      </div>
      <div class="col-sm-6">
        <input type=number name=telefon_osoby_upowaznionej>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        IMIĘ OSOBY UPOWAŻNIONEJ
      </div>
      <div class="col-sm-6">
        <input type=text name=imie_osoby_upowaznionej>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NAZWISKO OSOBY UPOWAŻNIONEJ
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwisko_osoby_upowaznionej>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}