{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj oddział</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_oddzial') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=id_oddzialu>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        STAWKA ZA PUNKT 
      </div>
      <div class="col-sm-6">
        <input type=number step="0.01" name=stawka_za_punkt>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        KOD POCZTOWY
      </div>
      <div class="col-sm-6">
        <input type=text name=kod_pocztowy>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        MIEJSCOWOŚĆ
      </div>
      <div class="col-sm-6">
        <input type=text name=miejscowosc>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NAZWA ULICY
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwa_ulicy>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NUMER BUDYNKU
      </div>
      <div class="col-sm-6">
        <input type=text name=numer_budynku>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NAZWA FIRMY 
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwa_firmy value='Laser'>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}