{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj punkty</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_punkty') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        RODZAJ (KOD) WIZYTY
      </div>
      <div class="col-sm-6">
        <input type=text name=rodzaj_wizyty>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        LICZBA PUNKTÓW
      </div>
      <div class="col-sm-6">
        <input type=number name=liczba_punktow>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        OPŁATA ZA WIZYTĘ, JEŚLI PRYWATNA
      </div>
      <div class="col-sm-6">
        <input type=number step="0.01" name=oplata_jesli_prywatna>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}