{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj nowa posadę</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_nowa_posade') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        NAZWA STANOWISKA
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwa_stanowiska>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        STAWKA PRACOWNICZA
      </div>
      <div class="col-sm-6">
        <input type=number name=stawka_pracownicza>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}