{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj wizytę</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_wizyte') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=oddzial_id>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        RODZAJ (KOD) WIZYTY
      </div>
      <div class="col-sm-6">
        <input type=text name=rodzaj_wizyty>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        PESEL PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=number name=pesel_pacjenta>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        RAPORT, NOTATKI WIZYTY
      </div>
      <div class="col-sm-6">
        <input type=text name=raport>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        WIZYTA PRYWATNA?
      </div>
      <div class="col-sm-6">
        <input type=checkbox name=wizyta_prywatna>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        ID LEKARZA
      </div>
      <div class="col-sm-6">
        <input type=number name=lekarz_id>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA WIZYTY
      </div>
      <div class="col-sm-6">
        <input type=date name=data_wizyty value='2017-01-01'>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}