{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj limit punktowy dla oddziału</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_limit_punktowy_dla_oddzialu') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        DATA POCZĄTKU ROZLICZENIA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_poczatek_rozliczenia value='2017-01-01'>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=oddzial_id>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        LICZBA PUNKTÓW
      </div>
      <div class="col-sm-6">
        <input type=number name=liczba_punktow>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA KONIEC ROZLICZENIA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_koniec_rozliczenia value='2017-06-01'>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}