{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj sprzęt medyczny</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_sprzet_medyczny') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        NUMER SERYJNY
      </div>
      <div class="col-sm-6">
        <input type=text name=numer_seryjny>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NAZWA SPRZĘTU 
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwa>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        ROK PRODUKCJI
      </div>
      <div class="col-sm-6">
        <input type=number name=rok_produkcji>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=oddzial_id>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA PRZEGLĄDU
      </div>
      <div class="col-sm-6">
        <input type=date name=data_przegladu value='2017-01-01'>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA WAŻNOŚCI
      </div>
      <div class="col-sm-6">
        <input type=date name=data_waznosci value='2017-06-01'>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        UWAGI
      </div>
      <div class="col-sm-6">
        <input type=text name=uwagi>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}