{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Dodaj pracownika</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('dodaj_pracownika') }}" method=post>

    <div class='row'>
      <div class="col-sm-4">
        NAZWA STANOWISKA
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwa_stanowiska>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA PODPISANIA UMOWY
      </div>
      <div class="col-sm-6">
        <input type=date name=data_podpisania_umowy value='2017-01-01'>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        DATA ROZWIĄZANIA UMOWY
      </div>
      <div class="col-sm-6">
        <input type=date name=data_rozwiazania_umowy value='2017-06-01'>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        IMIĘ PRACOWNIKA
      </div>
      <div class="col-sm-6">
        <input type=text name=imie>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        NAZWISKO PRACOWNIKA
      </div>
      <div class="col-sm-6">
        <input type=text name=nazwisko>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=oddzial_id>
      </div>
    </div>

    <button type="submit" class="btn btn-primary moj_button">INSERT</button>
  </form>
  </div>
{% endblock %}