{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Strona główna</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
    <div class='row'>
      <div class="col-sm-4">
        DOSTĘPNE WIDOKI
      </div>
      <div class="col-sm-4">
        DOSTĘPNE INSERTY
      </div>
      <div class="col-sm-4">
        DOSTĘPNE SELEKTY
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wszystkie_zarobki') }}" method=get>
          <button type="submit" class="btn btn-primary moj_button">Zarobki pracowników</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_oddzial') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj oddział</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_licz_punkty_lekarza') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Oblicz punkty lekarza</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wszyscy_pacjenci') }}" method=get>
          <button type="submit" class="btn btn-primary moj_button">Wszyscy pacjenci (bez limitu)</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_sprzet_medyczny') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj sprzęt medyczny</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_stawka_pracownika') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Oblicz stawkę pracownika</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wszystkie_oddzialy') }}" method=get>
          <button type="submit" class="btn btn-primary moj_button">Wszystkie oddziały</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_przeglad_sprzetu_do_paszportu') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj wpis do paszportu</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wyplata_lekarza_za_okres') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Oblicz wypłatę lekarza</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wszystkie_punkty') }}" method=get>
          <button type="submit" class="btn btn-primary moj_button">Tabela punktów</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_limit_punktowy_dla_oddzialu') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj limit punktowy</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_adres_pacjenta') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Zwróć adres pacjenta</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_nowa_posade') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj nową posadę</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wyplata_pracownika_za_okres') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Oblicz wypłatę pracownika</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_pracownika') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj pracownika</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_lokalizacja_oddzialu') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Zwróć lokalizację oddziału</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_punkty') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj punkty</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_osoba_upowazniona_pacjenta') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Osoby upoważnione pacjenta</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_wizyte') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj wizytę</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_sprzet_oddzialu') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Zwróć sprzęt oddziału</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('dodaj_pacjenta') }}" method=get>
          <button type="submit" class="btn btn-warning moj_button">Dodaj pacjenta</button>
        </form>
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_limity_oddzialu') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Limity punktowe oddziału</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_punkty_oddzialu_za_okres') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Punkty oddziału za okres</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_pracownicy_oddzialu') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Pracownicy oddziału</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_zarobek_oddzialu_za_okres') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Zarobek oddziału</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_pacjenci_limit') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Wszyscy pacjenci (limit)</button>
        </form>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <form action="{{ url_for('get_wizyty_limit') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">Wszystkie wizyty (limit)</button>
        </form>
      </div>
    </div>


  </div>
{% endblock %}