{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>{{ title }}</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
    <table class='table'>
      <thead>
          <tr>
            {% for cell in titles %}
              <th>{{ cell }}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr class='info'>
          {% for cell in entry %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ url_for('get_pacjenci_limit') }}" method=post>
      <button type="submit" class="btn btn-primary" name='L'>&lt;- W LEWO</button>
      <button type="submit" class="btn btn-primary" name='P'>W PRAWO -&gt;</button>  
    </form>
  </div>
{% endblock %}