<!DOCTYPE html>
<html>
  <head>
    <title>Centrum Medyczne [BDI]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/my_own.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>Centrum Medyczne</h1>
      <div class=metanav>
      {% if not session.logged_in %}
        <form action="{{ url_for('login') }}" method=get>
          <button type="submit" class="btn btn-danger moj_button">ZALOGUJ SIĘ</button>
        </form>
      {% else %}
        <form action="{{ url_for('logout') }}" method=get>
          <button type="submit" class="btn btn-info moj_button">WYLOGUJ SIĘ</button>
        </form>
      {% endif %}
      </div>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
      <br/><br/>
      <form action="{{ url_for('strona_glowna') }}" method=get>
        <button type="submit" class="btn btn-success moj_button">STRONA GŁÓWNA</button>
      </form>
    </div>
  </body>
</html>

 
