{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Licz punkty lekarza</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('get_licz_punkty_lekarza') }}" method=post>
    <div class='row'>
      <div class="col-sm-3">
        ID LEKARZA
      </div>
      <div class="col-sm-6">
        <input type=number name=lekarz_id>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-3">
        DATA POCZĄTKOWA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_pocz value='2017-01-01'>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-3">
        DATA KOŃCOWA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_koniec value='2017-02-01'>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-3">
        LICZYĆ WIZYTY PRYWATNE
      </div>
      <div class="col-sm-6">
        <input type=checkbox name="prywatne">
      </div>
    </div>
    <button type="submit" class="btn btn-primary moj_button">OBLICZ</button>
  </form>
  </div>
{% endblock %}