{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Zaloguj się</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('login') }}" method=post>
    <div class='row'>
      <div class="col-sm-1">
        USERNAME
      </div>
      <div class="col-sm-6">
        <input type=text name=username>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-1">
        UPASSWORD
      </div>
      <div class="col-sm-6">
        <input type=password name=password>
      </div>
    </div>
    <button type="submit" class="btn btn-primary moj_button">Login</button>
  </form>
  </div>
{% endblock %}