{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Osoby upoważnione przez pacjenta o danym peselu</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('get_osoba_upowazniona_pacjenta') }}" method=post>
    <div class='row'>
      <div class="col-sm-3">
        PESEL PACJENTA
      </div>
      <div class="col-sm-6">
        <input type=text name=pacjent_id>
      </div>
    </div>
    <button type="submit" class="btn btn-primary moj_button">OBLICZ</button>
  </form>
  </div>
{% endblock %}