{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Sprzęt oddziału o danym id</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('get_sprzet_oddzialu') }}" method=post>
    <div class='row'>
      <div class="col-sm-3">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=oddzial_id>
      </div>
    </div>
    <button type="submit" class="btn btn-primary moj_button">OBLICZ</button>
  </form>
  </div>
{% endblock %}