{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Licz wypłatę pracownika za dany okres</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('get_wyplata_pracownika_za_okres') }}" method=post>
    <div class='row'>
      <div class="col-sm-3">
        ID PRACOWNIKA
      </div>
      <div class="col-sm-6">
        <input type=number name=pracownik_id>
      </div>
    </div>
    <button type="submit" class="btn btn-primary moj_button">OBLICZ</button>
  </form>
  </div>
{% endblock %}