{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <h2>Zarobek oddziału w danym okresie rozliczeniowym</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}</p>
  <form action="{{ url_for('get_zarobek_oddzialu_za_okres') }}" method=post>
    <div class='row'>
      <div class="col-sm-3">
        ID ODDZIAŁU
      </div>
      <div class="col-sm-6">
        <input type=text name=oddzial_id>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-3">
        DATA POCZĄTKOWA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_pocz value='2017-01-01'>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-3">
        DATA KOŃCOWA
      </div>
      <div class="col-sm-6">
        <input type=date name=data_koniec value='2017-02-01'>
      </div>
    </div>
    <button type="submit" class="btn btn-primary moj_button">OBLICZ</button>
  </form>
  </div>
{% endblock %}